<h1>{{producto.titulo}}</h1>
<p><strong>Descripción:</strong> {{producto.descripcion}}</p>
<p><strong>Código:</strong> {{producto.code}}</p>
<p><strong>Precio:</strong> {{producto.precio}}</p>
<p><strong>Estado:</strong> {{producto.estado}}</p>
<p><strong>Cantidad:</strong> {{producto.cantidad}}</p>
<p><strong>Marca:</strong> {{producto.marca}}</p>
<p><strong>Categoría:</strong> {{producto.categoria}}</p>
<p><strong>Demografía:</strong> {{producto.demografia}}</p>
<img src="{{producto.imagen}}" alt="{{producto.titulo}}">

{{>carrito}}

{{>logout}}

{{>user}}